<h1>Mensajes</h1>

  <% @posts.each do |post| %>
    <BR>
    <blockquote>
      <p class="blockquote-content">
      <%= post.user.name %>: <BR>
      <%= post.text %> <BR>
      </p>
    </blockquote>
  <% end %>